
  /* Resetters */
*,*:before,*:after{

    padding:0;
    margin:0;
    -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    
    }
    input,textarea{
    
    outline:none
    
    }
    input[type="submit"]{
    cursor:pointer;    
    }
    
    li,a{
    text-decoration:none;
    /* fonts styles */
    }
    .tajawal-extralight {
      font-family: "Tajawal", sans-serif;
      font-weight: 200;
      font-style: normal;
    }
    
    .tajawal-regular {
      font-family: "Tajawal", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .tajawal-bold {
      font-family: "Tajawal", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    #accessibility-sidebar {
      transition-property: left;
      transition-duration: 0.4s;
  }
    #main-menu {
      transition-property: right;
      transition-duration: 0.4s;
  }
.checkbox-wrapper-6 .tgl {
  display: none;
}
.checkbox-wrapper-6 .tgl,
.checkbox-wrapper-6 .tgl:after,
.checkbox-wrapper-6 .tgl:before,
.checkbox-wrapper-6 .tgl *,
.checkbox-wrapper-6 .tgl *:after,
.checkbox-wrapper-6 .tgl *:before,
.checkbox-wrapper-6 .tgl + .tgl-btn {
  box-sizing: border-box;
}
.checkbox-wrapper-6 .tgl::-moz-selection,
.checkbox-wrapper-6 .tgl:after::-moz-selection,
.checkbox-wrapper-6 .tgl:before::-moz-selection,
.checkbox-wrapper-6 .tgl *::-moz-selection,
.checkbox-wrapper-6 .tgl *:after::-moz-selection,
.checkbox-wrapper-6 .tgl *:before::-moz-selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::-moz-selection,
.checkbox-wrapper-6 .tgl::selection,
.checkbox-wrapper-6 .tgl:after::selection,
.checkbox-wrapper-6 .tgl:before::selection,
.checkbox-wrapper-6 .tgl *::selection,
.checkbox-wrapper-6 .tgl *:after::selection,
.checkbox-wrapper-6 .tgl *:before::selection,
.checkbox-wrapper-6 .tgl + .tgl-btn::selection {
  background: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 3rem;
  height: 1.3rem;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after,
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:after {
  left: 0;
}
.checkbox-wrapper-6 .tgl + .tgl-btn:before {
  display: none;
}
.checkbox-wrapper-6 .tgl:checked + .tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-6 .tgl-light + .tgl-btn {
  border: 1px solid rgb(190, 48, 48);
  border-radius: 2em;
  padding: 1px;
  transition: all 0.4s ease;
}
.checkbox-wrapper-6 .tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: rgb(218, 87, 87);
  transition: all 0.2s ease;
}
.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn:after {
  background: white;
}
.checkbox-wrapper-6 .tgl-light:checked + .tgl-btn {
  background: rgb(184, 24, 24);
}
 /* Hero section styles*/
.swiper-pagination {
  top: 80% !important;
  left: -25% !important;
}
.swiper-pagination-bullet {
  margin-left: 6px !important;
  width: 15px !important;
  height: 3px !important;
  background-color: black !important;
  opacity: 1 !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #3aa636 !important;
  width: 50px !important;
  transition-property: width;
  transition-duration: 0.4s;
}
.swiper-slide .hero-text {
  opacity: 0;
  transform: translate(50%,-50%) ;
}
.swiper-slide-active .hero-text {
  opacity: 1;
  transform: translate(-50%,-16%) ;
  transition-duration: 0.6s;
  transition-property: opacity transform;
}
.hero-overlay {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #075210 105%);
}

/* News section styles */
.news-content {
  height: 20%;
  transition-property: height background-color;
  transition-duration: 0.6s;
}
.news:hover .news-content {
  background-color:#075210a2 ;
  height: 80%;
}
.swiper-button-prev,.swiper-button-next {
  background-color: #075210 !important;
  color: white !important;
  width: 2rem !important;
  height: 2rem !important;
  border-radius: 100%;
  transform: translateY(-50px);
}
.swiper-button-prev::after,.swiper-button-next::after {
  font-size: 1rem !important;
}